{% block form_row %}
    <div{% with {attr: row_attr|default({})} %}{{ block('attributes') }}{% endwith %}>
        {{ form_label(form) }}
        {{ form_widget(form) }}
        {{ form_errors(form) }}
        {{ form_help(form)}}
    </div>
{% endblock form_row %}

{% block form_errors %}
    {% if errors|length > 0 %}
        <div class="form-errors">
            {% for error in errors %}
                <span>{{ error.message }}</span>
            {% endfor %}
        </div>
    {% endif %}
{% endblock form_errors %}