{% set current_route = 'app_cart_show' %}
{% extends 'base.html.twig' %}

{% block title %}GreenGoodies - Mon Panier{% endblock %}

{% block body %}

<section class="cart-page">
    <div class="cart-page__container">
        <h1>Mon panier</h1>
        {% if cartItems is empty %}
            <div class="cart-page__list">
                <div class="cart-page__item">
                    <p>Votre panier est vide.</p>
                </div>
            </div>
            <div class="cart-page__button">
                <a href="{{ path('app_accueil') }}" class="btn">Consulter nos produits</a>
            </div>
        {% else %}
            {{ form_start(cartRemoveAllForm, {'attr': {'onsubmit': "return confirm('Êtes-vous sûr de vouloir vider votre panier ?');"}}) }}
                <button type="submit" class="linkBtn">x Vider le panier</button>
            {{ form_end(cartRemoveAllForm) }}
            <div class="cart-page__list">
                {% for cartItem in cartItems %}
                    <a href="{{ path('app_product_show', {'id': cartItem.product.id}) }}" class="cart-page__item">
                        <img src="{{ asset('uploads/products/sm/' ~ cartItem.product.picture) }}" alt="{{ cartItem.product.name }}">
                        <div class="infos">
                            <h2>{{ cartItem.product.name }}</h2>
                            <p class="quantity">Quantité : {{ cartItem.quantity }}</p>
                            <p class="price">{{ cartItem.product.price|number_format(2, ',', ' ') }}€</p>
                        </div>
                    </a>
                {% endfor %}
                <div class="cart-page__total">
                    <div class="cart-page__total-price">
                        <p class="cart-page__total-price--text">Total panier :</p>
                        <p class="cart-page__total-price--price">{{ cartTotalPrice|number_format(2, ',', ' ') }}€</p>
                    </div>
                    <p class="cart-page__total-livraison">Frais de livraison : Offert</p>
                </div>
            </div> 
            <div class="cart-page__button">
                {{ form_start(orderAddForm, {'attr': {'onsubmit': "return confirm('Valider votre commande');"}}) }}
                    <button type="submit" class="btn">Valider la commande</button>
                {{ form_end(orderAddForm) }}
            </div>
        {% endif %}
    </div>
</section>
{% endblock %}
