{% set current_route = 'app_cart_show' %}
{% extends 'base.html.twig' %}

{% block title %}GreenGoodies - Mon Panier{% endblock %}

{% block body %}

<div class="cartContainer">
    <div class="cartContainer-wrapper">
        <h1>Mon panier</h2>
        {% if cartItems is empty %}
        <div class="cartList">
            <div class="cartList-item">
                <p>Votre panier est vide.</p>
            </div>
        </div>
        <div class="cartContainer-button">
            <a href="{{ path('app_accueil') }}" class="btn">Consulter nos produits</a>
        </div>
        {% else %}
        <p class="link">
            <form method="post" action="{{ path('app_cart_remove_all')}}" onsubmit="return confirm('Êtes-vous sûr de vouloir vider votre panier ?');">
                <input type="hidden" name="_token" value="{{ csrf_token('cart_remove_all') }}">
                <button type="submit" class="linkBtn">x Vider le panier</button>
            </form>
        </p>
        <div class="cartList">
            {% for cartItem in cartItems %}
            <a href="{{ path('app_product_show', {'id': cartItem.product.id}) }}" class="cartList-item">
                <img src="{{ asset('uploads/products/sm/' ~ cartItem.product.picture) }}" alt="{{ cartItem.product.name }}">
                <div class="infos">
                    <h2>{{ cartItem.product.name }}</h2>
                    <p class="quantity">Quantité : {{ cartItem.quantity }}</p>
                    <p class="price">{{ cartItem.product.price|number_format(2, ',', ' ') }}€</p>
                </div>
            </a>
            {% endfor %}
            <div class="cartList-total">
                <div class="totalPrice">
                    <p class="totalPrice-text">Total panier :</p>
                    <p class="totalPrice-price">{{ cartTotalPrice|number_format(2, ',', ' ') }}€</p>
                </div>
                <p class="livraison">Frais de livraison : Offert</p>
            </div>
        </div> 
        <div class="cartContainer-button">
            <button type="submit" href="#" class="btn">Valider la commande</button>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
