{% set current_route = 'app_accueil' %}
{% extends 'base.html.twig' %}

{% block title %}GreenGoodies - Homepage{% endblock %}

{% block body %}
<section class="homepage-banner">
    <div class="homepage-banner__text-container">
        <div class="homepage-banner__text-content">
            <h1>Bienvenue</h1>
            <p>Découvrez notre univers de produits durables et éthiques pour une consommation responsable.</p>
            <p>Retrouvez des articles d’hygiène & beauté, des accessoires & boissons et du prêt à porter éco-responsable.</p>
        </div>
    </div>
    <div class="homepage-banner__image-container">
        <img src="{{ asset('uploads/welcome.webp') }}" alt="Bannière GreenGoodies">
    </div>
</section>
<section class="homepage-product-list">
    <h2 class="homepage-product-list__title">Nos produits</h2>
    <div class="homepage-product-list__grid">
        {% for product in products %}
            <div class="homepage-product-list__item">
                <img src="{{ asset('uploads/products/md/' ~ product.picture) }}" alt="{{ product.name }}">
                <h3>{{ product.name }}</h3>
                <p class="description">{{ product.shortDescription }}</p>
                <p class="price">{{ product.price|number_format(2, ',', ' ') }}€</p>
                <a href="{{ path('app_product_show', {'id': product.id}) }}" class="link">Voir le produit</a>
            </div>
        {% endfor %}
    </div>
</section>
<section class="conviction homepage-section-spliter">
    <div class="homepage-section-spliter__text-wrapper">
        <div>
            <h2>NOTRE CONVICTION</h2>
            <p>Chez GreenGoodies, nous croyons en un monde où le commerce peut être synonyme de bien-être pour la planète et ses habitants. Notre mission est de vous proposer une sélection rigoureuse de produits qui allient qualité, durabilité et éthique.</p>
        </div>
    </div>
    <div class="homepage-section-spliter__image-wrapper">
        <img src="{{ asset('uploads/conviction.webp') }}" alt="arbousier">
    </div>
</section>
<section class="valeur homepage-section-spliter">
    <div class="homepage-section-spliter__image-wrapper">
        <img src="{{ asset('uploads/valeurs.webp') }}" alt="Illustration sac poubelle">
    </div>
    <div class="homepage-section-spliter__text-wrapper homepage-section-spliter__text-wrapper--right">
        <div>
            <h2>NOS VALEURS</h2>
            <p>Durabilité : Nous sélectionnons soigneusement des produits qui respectent l'environnement et favorisent la durabilité. Éthique : Nous nous engageons à travailler avec des partenaires et des fournisseurs qui partagent nos valeurs éthiques. Écologie : Nous encourageons des pratiques respectueuses de l'écosystème et privilégions les matériaux écologiques.</p>
        </div>
    </div>
</section>
{% endblock %}
