{% set current_route = 'app_accueil' %}
{% extends 'base.html.twig' %}

{% block title %}GreenGoodies - Homepage{% endblock %}

{% block body %}
<div class="welcomeContainer">
    <div class="welcomeContainer__text">
        <div class="welcomeContainer__text--wrapper">
            <h1>Bienvenue</h1>
            <p>Découvrez notre univers de produits durables et éthiques pour une consommation responsable.</p>
            <p>Retrouvez des articles d’hygiène & beauté, des accessoires & boissons et du prêt à porter éco-responsable.</p>
        </div>
    </div>
    <div class="welcomeContainer__image">
        <img src="{{ asset('uploads/welcome.webp') }}" alt="Bannière GreenGoodies">
    </div>
</div>
<div class="welcomeProduitContainer">
    <h2 class="welcomeProduitContainer__title">Nos produits</h2>
    <div class="welcomeProduitContainer__list">
        {% for product in products %}
            <div class="welcomeProduitContainer__item">
                <img src="{{ asset('uploads/products/md/' ~ product.picture) }}" alt="{{ product.name }}">
                <h3 class="welcomeProduitContainer__item--name">{{ product.name }}</h3>
                <p class="welcomeProduitContainer__item--description">{{ product.shortDescription }}</p>
                <p class="welcomeProduitContainer__item--price">{{ product.price }}€</p>
                <a href="#" class="welcomeProduitContainer__item--link">Voir le produit</a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
