{% set current_route = 'app_accueil' %}
{% extends 'base.html.twig' %}

{% block title %}GreenGoodies - Homepage{% endblock %}

{% block body %}
<div class="banner">
    <div class="banner-text">
        <div class="banner-text-wrapper">
            <h1>Bienvenue</h1>
            <p>Découvrez notre univers de produits durables et éthiques pour une consommation responsable.</p>
            <p>Retrouvez des articles d’hygiène & beauté, des accessoires & boissons et du prêt à porter éco-responsable.</p>
        </div>
    </div>
    <div class="banner-image">
        <img src="{{ asset('uploads/welcome.webp') }}" alt="Bannière GreenGoodies">
    </div>
</div>
<div class="productList">
    <h2>Nos produits</h2>
    <div class="productList-grid">
        {% for product in products %}
            <div class="productList-item">
                <img src="{{ asset('uploads/products/md/' ~ product.picture) }}" alt="{{ product.name }}">
                <h3>{{ product.name }}</h3>
                <p class="description">{{ product.shortDescription }}</p>
                <p class="price">{{ product.price|number_format(2, ',', ' ') }}€</p>
                <a href="{{ path('app_product_show', {'id': product.id}) }}" class="link">Voir le produit</a>
            </div>
        {% endfor %}
    </div>
</div>
<div class="productConviction">
    <div class="productConviction-textWrapper">
        <div>
            <h2>NOTRE CONVICTION</h2>
            <p>Chez GreenGoodies, nous croyons en un monde où le commerce peut être synonyme de bien-être pour la planète et ses habitants. Notre mission est de vous proposer une sélection rigoureuse de produits qui allient qualité, durabilité et éthique.</p>
        </div>
    </div>
    <div class="productConviction-imageWrapper">
        <img src="{{ asset('uploads/conviction.webp') }}" alt="arbousier">
    </div>
</div>
<div class="productValeur">
    <div class="productValeur-imageWrapper">
        <img src="{{ asset('uploads/valeurs.webp') }}" alt="Illustration sac poubelle">
    </div>
    <div class="productValeur-textWrapper">
        <div>
            <h2>NOS VALEURS</h2>
            <p>Durabilité : Nous sélectionnons soigneusement des produits qui respectent l'environnement et favorisent la durabilité. Éthique : Nous nous engageons à travailler avec des partenaires et des fournisseurs qui partagent nos valeurs éthiques. Écologie : Nous encourageons des pratiques respectueuses de l'écosystème et privilégions les matériaux écologiques.</p>
        </div>
    </div>
</div>
{% endblock %}
