{% set current_route = 'app_accueil' %}
{% extends 'base.html.twig' %}

{% block title %}GreenGoodies - Homepage{% endblock %}

{% block body %}
<div class="banner">
    <div class="banner-text">
        <div class="banner-text-wrapper">
            <h1>Bienvenue</h1>
            <p>Découvrez notre univers de produits durables et éthiques pour une consommation responsable.</p>
            <p>Retrouvez des articles d’hygiène & beauté, des accessoires & boissons et du prêt à porter éco-responsable.</p>
        </div>
    </div>
    <div class="banner-image">
        <img src="{{ asset('uploads/welcome.webp') }}" alt="Bannière GreenGoodies">
    </div>
</div>
<div class="productList">
    <h2>Nos produits</h2>
    <div class="productList-grid">
        {% for product in products %}
            <div class="productList-item">
                <img src="{{ asset('uploads/products/md/' ~ product.picture) }}" alt="{{ product.name }}">
                <h3>{{ product.name }}</h3>
                <p class="description">{{ product.shortDescription }}</p>
                <p class="price">{{ product.price }}€</p>
                <a href="{{ path('app_product_show', {'id': product.id}) }}" class="link">Voir le produit</a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
