{% set current_route = 'app_accueil' %}
{% extends 'base.html.twig' %}

{% block title %}GreenGoodies - {{product.name}}{% endblock %}

{% block body %}
    <div class="productContainer">
        <div class="productContainer-image">
            <img src="{{ asset('uploads/products/lg/' ~ product.picture) }}" alt="{{ product.name }}">
        </div>
        <div class="productContainer-details">
            <div class="productContainer-info">
                <h1>{{ product.name }}</h1>
                <p class="price">{{ product.price }}€</p>
                <p class="label">Description</p>
                <p class="description">{{ product.shortDescription }}</p>
            </div>
            {% if app.user %}
                <button href="#" class="btn">Ajouter au panier</button>
            {% else %}
                <a href="{{ path('app_login') }}" class="btn">Ajouter au panier</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
