{% set current_route = 'app_accueil' %}
{% extends 'base.html.twig' %}

{% block title %}GreenGoodies - {{product.name}}{% endblock %}

{% block body %}
<section class="product-detail">
    <div class="product-detail__image-container">
        <img src="{{ asset('uploads/products/lg/' ~ product.picture) }}" alt="{{ product.name }}">
    </div>
    <div class="product-detail__info-container">
        <div class="product-detail__info-content">
            <h1>{{ product.name }}</h1>
            <div class="price-quantity">
                <p class="price">{{ product.price|number_format(2, ',', ' ') }}€</p>
                {% if is_granted('ROLE_USER') %}
                    <form id="quantityForm" method="post" action="{{ path('app_cart_add', {'id': product.id}) }}">
                        <input 
                            type="number"
                            id="quantity"
                            class="quantity"
                            name="quantity"
                            min="0"
                            max="999"
                            value="{{ quantityItemInCart }}"
                            required
                        >
                        <input type="hidden" name="_token" value="{{ csrf_token('cart_add_' ~ product.id) }}">
                    </form>
                {% endif %}
            </div>
            <p class="label">Description</p>
            <p class="description">{{ product.fullDescription }}</p>
        </div>
        {% if is_granted('ROLE_USER') %}
            {% if quantityItemInCart > 0 %}
                <button type="submit" form="quantityForm" class="btn">Mettre à jour</button>
            {% else %}
                <button type="submit" form="quantityForm" class="btn">Ajouter au panier</button>
            {% endif %}
        {% else %}
            <a href="{{ path('app_login') }}" class="btn">Se connecter pour accéder au panier</a>
        {% endif %}
    </div>
</section>
{% endblock %}
