<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>

        <header>
            <nav>
                <a href="{{ path('app_accueil') }}">
                    <img src="{{ asset('uploads/logo.svg') }}" alt="Logo GreenGoodies">
                </a>
                <ul>
                    <li><a href="{{ path('app_accueil') }}" class="{{ current_route == 'app_accueil' ? 'active' : '' }}">Nos produits</a></li>
                    {% if app.user %}
                        <li><a href="{{ path('app_cart_show') }}" class="{{ current_route == 'app_cart_show' ? 'active' : '' }}">Mon panier</a></li>
                        <li><a href="#">Mon compte</a></li>
                    {% endif %}
                    {% if app.user %}
                        <li><a href="{{ path('app_logout') }}" class="{{ current_route == 'app_logout' ? 'active' : '' }}">Déconnexion</a></li>
                    {% else %}
                    <li><a href="{{ path('app_login') }}" class="{{ current_route == 'app_login' or current_route == 'app_register' ? 'active' : '' }}">Connexion</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>

        <main>
            {% block body %}{% endblock %}
        </main>

        <footer>
            <p>© GreenGoodies - 2024</p>
        </footer>

    </body>
</html>
