{% set current_route = 'app_register' %}
{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<div class="authContainer">
    <div class="authContainer-image">
        <img src="{{ asset('uploads/inscription.webp') }}" alt="Bannière inscription">
    </div>
    <div class="authContainer-form">
        <h1>Inscription</h1>
        <p>Tous les champs sont obligatoires.</p>
        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.lastName, {
                label: 'Nom',
                row_attr: { class: 'form-group' }
            }) }}
            {{ form_row(registrationForm.firstName, {
                label: 'Prénom',
                row_attr: { class: 'form-group' }
            }) }}
            {{ form_row(registrationForm.email, {
                label: 'Adresse email',
                row_attr: { class: 'form-group' }
            }) }}
            {{ form_row(registrationForm.plainPassword.first, {
                label: 'Mot de passe',
                row_attr: { class: 'form-group' }
            }) }}
            {{ form_row(registrationForm.plainPassword.second, {
                label: 'Confirmation mot de passe',
                row_attr: { class: 'form-group' }
            }) }}
            {{ form_row(registrationForm.cguAccepted, {
                label: 'J\'accepte les CGU de GreenGoodies',
                row_attr: { class: 'form-group-cgu form-group' }
            }) }}

            <button type="submit" class="btn">S'inscrire</button>
            <p class="link">
                <a href="{{ path('app_login') }}">Déjà un compte ? Se connecter</a>
            </p>
        {{ form_end(registrationForm) }}
    </div>
</div>
{% endblock %}
